@import "../tokens.css";

.outerContainer {
  background-color: var(--color-major-element);
  box-shadow: var(--element-shadow);
  border-radius: var(--radius-sm);
}

.innerContainer {
  margin: var(--distance-sm);
}
