@import "../tokens.css";

.scannerContainer {
  max-height: 180px;
  max-width: 480px;
  overflow: hidden;
  border-radius: var(--radius-sm);
}

.video {
  object-fit: cover;
}

.outerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
