@import '../tokens.css';

.filterSelectionButton {
    position: relative
}

.filterSelectionMenuContainer {
    position: absolute;
    background-color: var(--color-bg);
}

.ingredientsToFilterList {
    list-style: none;
    display: flex;
}
