@import "./tokens.css";

.outerContainer {
  display: flex;
  flex-direction: row;
  margin: var(--distance-sm);
}

.componentContainer {
  display: flex;
  flex-direction: column;
  gap: var(--distance-sm);
}

.placeholder {
  display: flex;
  flex: 1;
}
