@import "./tokens.css";

.outerContainer {
  display: flex;
  flex-direction: row;
  padding: var(--distance-lg);
}

.componentContainer {
  display: flex;
  flex-direction: column;
  gap: var(--distance-xl);
  width: 100%;
  max-width: 30rem; /* a bit bigger than usual phone screens are */
}

.placeholder {
  display: flex;
  flex: 1;
}
