@import "./resets.css";
@import "./tokens.css";

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--text-font);
}

h1 {
  font-weight: var(--text-weight-bold);
  font-size: var(--text-size-header-sm);
}

p,
li {
  font-size: var(--text-size-base);
}
