@import "./resets.css";
@import "./tokens.css";

body {
  background-color: var(--color-bg-app);
  color: var(--color-text-primary);
  font-family: var(--text-font);
}

p,
li {
  font-size: var(--text-size-base);
}
